@import '../../node_modules/normalize.css/normalize.css';
@import 'fonts';

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * 0.625);
}

body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 20px;
}

footer {
  color: #8f8e8e;
  padding: 80px 0 50px;

  .boring {
    font-size: 0.8em;
    line-height: 1em;
  }
}

a {
  color: #333;
  cursor: pointer;

  &.alert-link {
    text-decoration: underline;
  }

  &:focus,
  &:hover,
  &:active {
    color: #000;
  }
}

figcaption {
  text-align: center;
}

blockquote {
  border-left: none;
  font-size: 16px;
  line-height: 1.5;
  margin: 0.75em 0 0;
  max-width: 100%;
  min-height: 2em;
  padding-left: 3em;
  position: relative;

  &:before {
    content: "\201C";
    color: rgba(0, 0, 0, 0.3);
    font-family: georgia, serif;
    font-size: 5em;
    height: .4em;
    left: 0;
    line-height: .9;
    position: absolute;
    top: 0;
  }
}

.details-content {
  .cover {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    margin: -10px -30px 20px;
  }

  .showTitle {
    display: none;
  }
}

body:not(.pmd-body-open) .pmd-sidebar-left-fixed {
  box-shadow: none;
}

.pmd-navbar.navbar-inverse {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

  .navbar-brand {
    margin: 12px 0;

    img {
      height: 25px;
    }
  }

  .pmd-btn-flat.btn-primary {
    color: white;

    &:hover {
      color: gray;
    }
  }
}

.video-container {
  margin: 0 auto;
  max-width: 800px;

  .plyr {
    &:-webkit-full-screen,
    &:fullscreen {
      .plyr__captions {
        font-size: 2em;
      }

      video {
        height: 100vh;
      }
    }
  }
}

.ep-nav {
  clear: both;
  margin: 20px 0;

  .btn {
    white-space: initial;

    .material-icons {
      vertical-align: -7px;
    }
  }
}

.support {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5em 1em;
  padding: 15px 5px;
  text-align: center;

  h3 {
    margin: 0;
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
  }

  &--option {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;

    &--wide {
      padding: 10px;
      width: 100%;
    }
  }
}

#pmd-main {
  min-height: 100vh;
}

.pmd-card-title {
  margin-bottom: 8px;

  .pmd-card-title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inbl {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  vertical-align: top;
}

.colSettings {
  select {
    display: inline-block;
    width: auto;
  }
}

.ep-list {
  &.ep-list--horizontal {
    .ep-entry {
      display: inline-block;
      width: calc(100% / 3 - 3px);
    }
  }

  &.ep-list--vertical {
    column-count: 3;
  }

  .ep-entry {
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.link {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);

  &:hover,
  &:active {
    border-bottom: solid 1px rgba(0, 0, 0, 0.8);
  }
}

.lightsoff {
  background-color: black;
  color: white;

  .material-icons.md-dark {
    color: rgba(255, 255, 255, 0.8);
  }

  .btn-default {
    color: white;

    &:hover {
      color: #ccc;
    }

    .material-icons {
      color: #fff;
    }
  }

  .alert-info {
    background-color: #31708f;
    border-color: transparent;
    color: #dedede;

    .alert-link {
      color: #dedede;
    }
  }

  .pmd-btn-flat.btn-default {
    background-color: transparent;
  }

  .pmd-radio > span.pmd-radio-label {
    &:before {
      border: 2px solid rgba(255, 255, 255, 0.8) !important;
    }

    &:after {
      background: rgb(255, 255, 255);
    }
  }

  h2 small {
    color: rgba(255, 255, 255, 0.54);
  }

  a {
    color: #eee;

    &:hover,
    &:active {
      color: #bbb;
    }
  }

  blockquote:before {
    color: rgba(255, 255, 255, 0.3);
  }

  .link {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);

    &:hover,
    &:active {
      border-bottom: solid 1px rgba(255, 255, 255, 0.8);
    }
  }

  .form-control {
    background-color: #333;
    border: 1px solid #000;
    color: #fff;
  }

  .pmd-card,
  .panel,
  .btn-default {
    background-color: #333;
  }

  .navbar-inverse {
    background-image: linear-gradient(-20deg, #272f39 0%, #1b2026 100%);
  }

  .pmd-sidebar {
    background: #0b0d10;

    a {
      color: #ffffff;

      &:hover {
        background-color: #303030;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .details-content {
    .cover {
      display: none;
    }

    .showTitle {
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .colSettings {
    display: none;
  }

  .ep-list {
    &.ep-list--horizontal {
      .ep-entry {
        display: inline-block;
        width: 100%;
      }
    }

    &.ep-list--vertical {
      column-count: 1;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
  .ep-list {
    &.ep-list--horizontal {
      .ep-entry {
        display: inline-block;
        width: calc(100% / 2 - 3px);
      }
    }

    &.ep-list--vertical {
      column-count: 2;
    }
  }
}

@media screen and (min-height: 850px) {
  .video-container {
    max-width: 1100px;
  }
}
