<include href="header.htm" />
        <h2>
          {{ @episode.showName }} - {{ @episode.epiName }}
          <br/>
          <small class="text-muted" style="display: inline-block;">
            {{ parseSE(@episode.epiSeason, @episode.epiNumber) }}
          </small>
        </h2>

        <br>

        <div class="video-container">
          <video id="player{{ @episode.epiNumberTotal }}" playsinline controls preload="auto"
            poster="/assets/img/shows/{{ @episode.showShortName }}.jpg" width="720">
<check if="{{ @forceMP4 }}"><true>
            <source type="video/mp4"
              src="{{ @remote.filesMP4 }}/files/{{ @episode.showShortName }}/s{{ @episode.epiSeason }}/Marebucks-{{ @episode.showShortName }}-480p-{{ @episode.epiSeason }}x{{ @episode.epiNumber }}.mp4">
</true><false>
<check if="{{ @episode.epiNo720p != 1 }}">
            <source type='video/webm; codecs="vp8, vorbis"' label="720p" size="720"
              src="{{ @remote.files }}/files/{{ @episode.showShortName }}/s{{ @episode.epiSeason }}/Marebucks-{{ @episode.showShortName }}-720p-{{ @episode.epiSeason }}x{{ @episode.epiNumber }}.webm">
</check>
<check if="{{ @episode.epiNo1080p != 1 }}">
            <source type='video/webm; codecs="vp8, vorbis"' label="1080p" size="1080"
              src="{{ @remote.files }}/files/{{ @episode.showShortName }}/s{{ @episode.epiSeason }}/Marebucks-{{ @episode.showShortName }}-1080p-{{ @episode.epiSeason }}x{{ @episode.epiNumber }}.webm">
</check>
            <source type='video/webm; codecs="vp8, vorbis"' label="480p" size="480"
              src="{{ @remote.files }}/files/{{ @episode.showShortName }}/s{{ @episode.epiSeason }}/Marebucks-{{ @episode.showShortName }}-480p-{{ @episode.epiSeason }}x{{ @episode.epiNumber }}.webm">
            <source type='video/webm; codecs="vp8, vorbis"' label="240p" size="240"
              src="{{ @remote.files }}/files/{{ @episode.showShortName }}/s{{ @episode.epiSeason }}/Marebucks-{{ @episode.showShortName }}-240p-{{ @episode.epiSeason }}x{{ @episode.epiNumber }}.webm">
</false></check>
<repeat group="{{ explode(',', @episode.epiSubs) }}" value="{{ @subsLang }}">
<check if="{{ @subsLang }}">
            <track label="{{ langParse(@subsLang) }}" kind="subtitles" srclang="{{ @subsLang }}"
              src="{{ @remote.files }}/files/{{ @episode.showShortName }}/subs/{{ @subsLang }}/{{ @episode.epiSeason }}x{{ @episode.epiNumber }}.vtt">
</check>
</repeat>
          </video>
        </div>

        <br>
<!--
<check if="{{ @forceMP4 }}">

        <div>
          <p>
            Player doesn't work?
            <a href="{{ @remote.files }}/files/{{ @episode.showShortName }}/s{{ @episode.epiSeason }}/Marebucks-{{ @episode.showShortName }}-480p-{{ @episode.epiSeason }}x{{ @episode.epiNumber }}.mp4"
              class="link">
              Try opening the video directly by clicking here</a>.
          </p>
        </div>
</check>
-->
        <div class="row ep-nav">
          <div class="col-xs-6">
<check if="{{ @prevEpisode }}">
            <a href="{{ @prevEpisode.epiNumberTotal }}" class="btn pmd-btn-raised btn-block pmd-ripple-effect btn-default">
              <i class="material-icons md-dark pmd-sm">chevron_left</i>
              {{ @prevEpisode.epiName }}

              <small class="text-muted">
                ({{ parseSE(@prevEpisode.epiSeason, @prevEpisode.epiNumber, 'short') }})
              </small>
            </a>
</check>
          </div>
          <div class="col-xs-6 text-right">
<check if="{{ @nextEpisode }}">
            <a href="{{ @nextEpisode.epiNumberTotal }}" class="btn pmd-btn-raised btn-block pmd-ripple-effect btn-default">
              <small class="text-muted">
                ({{ parseSE(@nextEpisode.epiSeason, @nextEpisode.epiNumber, 'short') }})
              </small>

              {{ @nextEpisode.epiName }}
              <i class="material-icons md-dark pmd-sm">chevron_right</i>
            </a>
</check>
          </div>
        </div>

        <script>
          const player = new Plyr(
            '#player{{ @episode.epiNumberTotal }}',
            {
              title: "{{ @episode.showName }} - {{ @episode.epiName }}",
              controls: [
                'play-large',
                'rewind',
                'play',
                'fast-forward',
                'progress',
                'current-time',
                'mute',
                'volume',
                'captions',
                'settings',
                'pip',
                'airplay',
                'fullscreen'
              ],
              settings: ['captions', 'quality', 'speed'],
              keyboard: {
                focused: true,
                global: true
              },
              fullscreen: {
                enabled: true,
                fallback: true,
                iosNative: true
              }
            }
          )

          function sendLove () {
            document.querySelector('.support--option button').disabled = true

            $.ajax({
              type: "POST",
              url: "https://{{ @SERVER.SERVER_NAME }}/sendlove",
              success: function (data) {
                alert(data)
              },
              failure: function (errMsg) {
                alert('Something went wrong :( \n' + errMsg)
              }
            })
          }

          function openKoFi () {
            var url = 'https://ko-fi.com/mrkody'
            var win = window.open(url, '_blank')
            win.focus()
          }

          function openForm () {
            var url = 'https://docs.google.com/forms/d/e/1FAIpQLSeYIFi5pe7YnjFVI2vxPFcmSddoT1xbwQezfE6qUyj9z1Giqg/viewform';
            var win = window.open(url, '_blank')
            win.focus()
          }
        </script>

<!--
        <div class="alert alert-warning" role="alert">
          <strong>Just an heads up!</strong>
          The admin will be away until July 7th. Expect uploads to be slower.
        </div>
-->

        <div class="cui-embed" style="height: 400px; width: 100%;"
          data-cui-uid="xWc39C" data-cui-avatar="https://images.typeform.com/images/J7CqAHnCjxQs"
          data-cui-mode="widget" data-cui-pill-button-color="#2B5876"></div>
        <script src="https://public-assets.typeform.com/confab/embed.js" async></script>

        <div class="support">
          <h3>Support CTOON</h3>
          <p>Want to support or just show your love to CTOON? Here's three options:</p>
          <div class="support--list">
            <div class="support--option">
              <b>Click a button</b><br>
              <button onclick="sendLove()" type="button"
                class="btn pmd-btn-raised pmd-ripple-effect btn-default">
                Send love! &#x2764;</button><br>
              <a target="_blank" href="/assets/img/discord-notification.png">
                We'll get a notification on Discord</a> that you clicked it.<br>
              <small>(Yes, that's it. Only once a day.)</small>
            </div>
            <div class="support--option">
              <b>Donate</b><br>
              <button onclick="openKoFi()" type="button"
                class="btn pmd-btn-raised pmd-ripple-effect btn-primary">
                Send a Ko-Fi</button><br>
              You can help us pay the server bills and buy new shows!<br>
              <small>(Might be used to buy actual coffee.)</small>
            </div>
            <div class="support--option--wide">
              <b>Share sources and links</b><br>
              <button onclick="openForm()" type="button"
                class="btn pmd-btn-raised pmd-ripple-effect btn-info">
                Go to the form</button><br>
              Know a source to HD downloads? New subtitles?
              Even for shows we don't have right now? <br>
              Feel free to share it to us so we can improve our service!
            </div>
          </div>
        </div>
<include href="footer.htm" />
