<include href="header.htm" />
        <h2>Something went wrong.</h2>

        <p>
          You just got a {{ @ERROR.code }} error.<br>
        </p>

        <code>
          {{ @ERROR.text }}
        </code>
<include href="footer.htm" />
