<include href="header.htm" />

<div class="faq">
<h1 id="faq">FAQ</h1>
<p>Hi, I’ve been reading all (ALL) your remarks about the website in the surveys and I feel like I could answer some of them right now.<br>
I’ll add some questions (#1 to #4) to complete.</p>

<ul>
<li><a href="#how-many-people-are-working-on-ctoon">1. How many people are working on CTOON?</a></li>
<li><a href="#why-are-you-doing-this">2. Why are you doing this?</a></li>
<li><a href="#whats-the-process-for-posting-new-content">3. What’s the process for posting new content?</a></li>
<li><a href="#how-much-does-it-costs">4. How much does it costs?</a></li>
<li><a href="#whats-the-uploading-schedule">5. What’s the uploading schedule?</a></li>
<li><a href="#why-the-webm-files-and-not-good-ol-mp4s">6. Why the WebM files and not good ol’ MP4s?</a></li>
<li><a href="#how-do-you-create-such-a-perfect-website">7. “How do you create such a perfect website?”</a></li>
<li><a href="#can-we-have...">8. Can we have…?</a></li>
<li><a href="#were-a-distributor-in-country-can-we-work-together">9. “We’re a distributor in [country], can we work together?”</a></li>
</ul>

<h2 id="how-many-people-are-working-on-ctoon">1. How many people are working on CTOON?</h2>
<p>A single person. Well let’s say almost a single person, my friends gave feedback and supported me - thanks y’all.<br>
You may see that I sometimes use “we” in messages. It’s more like I’m talking as a “brand” and not personally.</p>
<p><strong>The stuff I do:</strong> Code, encoding the files before they come to you, managing the server, paying the server rent and sometimes even buy and rip the files (ie. OK K.O.! or some of Steven Universe/Star Vs.).<br>
<strong>The stuff I don’t do:</strong> Rip every episodes. The majority comes from YayPonies (which includes YayStar and YaySteven), iT00NZ and AliQ. But when an episodes is missing, I might just go and get it myself.</p>
<h2 id="why-are-you-doing-this">2. Why are you doing this?</h2>
<p>It started from my personal frustration years ago. I live in Europe - even worse, in Switzerland - and if there’s something that frustrates me is that I. Can’t. Watch. New. Episodes. Like. Everyone.<br>
And now that I have some cash, know how to get around it and want to help others so they don’t have to deal with it, I decided to open this website.</p>
<p><strong>The problems with legal offers in too many countries:</strong></p>
<ul>
<li>They’re way behind schedule from the original releases. I don’t want to get spoiled online and want to participate in conversations with other fans.</li>
<li>Some don’t have all the episodes. I’ve seen platforms who have a limited amount of episodes available at a time (with some kind of rotation) or they only have it until a certain date before it’s gone. It becomes impossible to binge watch, catch-up or even just enjoy a show with this kind of crap.</li>
<li>They don’t have an original audio option. What if I don’t want to watch it in French?</li>
<li>The app/website is confusing or plain crap. I’m subscribed to many offers but don’t even play videos there. Either the quality is bad, the app crashes or I can’t even find my stuff. So I just end up downloading the episodes in the meantime.</li>
<li>There’s too many legal platforms but we don’t have the money or will to pay them all. If networks could just cooperate, instead of creating more stuff like “Disney+”…</li>
</ul>
<p>Until all of those problems are gone, people are going to pirate. Even if CTOON is gone.</p>
<h2 id="whats-the-process-for-posting-new-content">3. What’s the process for posting new content?</h2>
<ol>
<li>We wait first for a “WEBDL” release. Usually from iTunes.<br>
(Except if it’s Steven Universe or OK K.O.!, we may temporary use a TVRIP.)</li>
<li>Download the file if it’s already ripped. Else, I might buy it myself and rip it.</li>
<li>Encode the episodes in WebM 1080p (if applicable), 720p, 480p and 240p + MP4 480p for iOS compatibility. (This will change for the new website.)<br>
It takes an hour or two to complete with our 2-pass encoding.</li>
<li>Upload the files and - if possible - subtitles to the server.</li>
<li>Type all of that into the database manually (yeah, an admin panel would just be slow).</li>
<li>It’s done. If we released a TVRIP, we’ll wait for a proper release and do the steps again.</li>
</ol>
<h2 id="how-much-does-it-costs">4. How much does it costs?</h2>
<p>The current server is like 45€ per month. I actually spend over $170 per month for everything I do. It might dramatically increase if we need a CDN or a better storage option.</p>
<p>(Oh and sometimes I buy season packs on iTunes to rip episodes, so it adds up a bit.)</p>
<h2 id="whats-the-uploading-schedule">5. What’s the uploading schedule?</h2>
<p>As soon as I can. And if I remember to do it.</p>
<h2 id="why-the-webm-files-and-not-good-ol-mp4s">6. Why the WebM files and not good ol’ MP4s?</h2>
<p>We’re a streaming website, we don’t provide direct downloads for a reason. (Also come on, any modern player can play them!)<br>
We’re using the WebM format for now. It provides better file sizes and performances without degrading the video quality. It takes more time to encode, but we think it’s worth it.</p>
<p>In the next version, we’re switching to HLS. It’s like MP4 but the files are split. It brings a lot of benefits for streaming, but it will be harder for you to save it. Some tools like ffmpeg can work if you want a single file, give it the “playlist.m3u8” url.</p>
<h2 id="how-do-you-create-such-a-perfect-website">7. “How do you create such a perfect website?”</h2>
<p>With love and passion. &lt;3<br>
(Hey, I’m quoting a question. Totally not narcissist.)<br>
((Also there’s so many problems and flaws in this website.))</p>
<h2 id="can-we-have...">8. Can we have…?</h2>
<ul>
<li>
<p><strong>Q: More cartoons!</strong><br>
A: That’s a lot of work and it’s hard for me to follow every show. But more will come!</p>
</li>
<li>
<p><strong>Q: Downloads</strong><br>
A: Heh, no. <a href="#why-the-webm-files-and-not-good-ol-mp4s">See #6.</a></p>
</li>
<li>
<p><strong>Q: Anime</strong><br>
A: Nope, not here.</p>
</li>
<li>
<p><strong>Q: Netflix shows</strong><br>
A: They’re rarely not available worldwide and most of them are even subbed and dubbed. Use your wallet.</p>
</li>
<li>
<p><strong>Q: An Android app</strong><br>
A: Maybe but we can’t be on the Play Store. I wonder why?</p>
</li>
<li>
<p><strong>Q: Better colors/Darker theme/Themes in general</strong><br>
A: I can do that. Give me color schemes. :P</p>
</li>
<li>
<p><strong>Q: Search function</strong><br>
A: I’m working on it! You’ll be able to quickly open an episode or show page.</p>
</li>
<li>
<p><strong>Q: Autoplay</strong><br>
A: It’s coming.</p>
</li>
<li>
<p><strong>Q: Thumbnails</strong><br>
A: It’s coming.</p>
</li>
<li>
<p><strong>Q: Summaries</strong><br>
A: Not doing that, it’s more work for not much.</p>
</li>
<li>
<p><strong>Q: Tracking of what we’ve watched</strong><br>
A: Coming, the homepage will also suggest you to continue from where you’ve left!</p>
</li>
<li>
<p><strong>Q: The spacebar pausing the video</strong><br>
A: Sorry, this works if the player is on focus. I’ll work on that!</p>
</li>
<li>
<p><strong>Q: More subtitles</strong><br>
A: I don’t have a transcription and translation team. For some shows (and languages), I can work with other groups to bring their subs to the website. For the rest I’ll do my best to add subtitles if provided. If they’re missing well… I don’t have the time to find the subtitles and check the timing.<br>
I’ve planned to make it possible for people to help by submitting the files or some links, and for any language (there’s a lot of Spanish and Portuguese-speaking people visiting us who could benefit from that, ola!).</p>
</li>
<li>
<p><strong>Q: Chromecast support</strong><br>
A: On Chrome desktop at least, there’s the “Cast…” option in the browser menu. If it finds the video, it’ll play it directly to your device. For Android… well sometimes it shows the cast button in the top-left corner, sometimes not. Should be better with the new website!</p>
</li>
<li>
<p><strong>Q: Steam show premieres</strong><br>
A: I can’t stream… but I could direct people to where to find them if I know about it!</p>
</li>
<li>
<p><strong>Q: A notice for when the next episode airs</strong><br>
A: I could work on that for the TV airing. But I can’t actually say when it will be published tho (<a href="#whats-the-uploading-schedule">#5</a>).</p>
</li>
</ul>
<h2 id="were-a-distributor-in-country-can-we-work-together">9. “We’re a distributor in [country], can we work together?”</h2>
<p>Yes! If you sell DVDs, Blu Rays, or have some other way to watch the shows, I would gladly add a banner with a link to your services - suggesting people to go there for a more legal option.<br>
Send an email to contact {at} ctoon.party and I’ll look into it.<br>
<em>Note that this feature isn’t available right now, but I want to implement it.</em></p>
</div>

<style>
.faq h1 {
    margin: 0.67em 0;
}
.faq h2 {
    margin: 1em -0.5em 0;
    padding: 0.5em;
}
.faq h2:target {
    background-color: yellow;
}
.faq a {
    text-decoration: underline;
}
</style>

<include href="footer.htm" />
