<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  <head>
    <!-- Basic tags -->
    <meta charset="utf-8">
    <title>{{ @pageTitle }}</title>
    <meta name="description" content="{{ @pageDesc }}">
    <meta name="keyword" content="Marebucks,CTOON,cartoon,streaming,ad-free">
    <meta name="author" content="CTOON Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="canonical" href="{{ @REALM }}">

    <!-- Verifications -->
    <meta name="flattr:id" content="22jl5v">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CTOONparty">
    <meta name="twitter:title" content="{{ @pageTitle }}">
    <meta name="twitter:description" content="{{ @pageDesc }}">
    <meta name="twitter:image" content="{{ @ogImage }}">
    <meta name="twitter:image:alt" content="{{ @ogImageAlt }}">

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CTOON">
    <meta property="og:title" content="{{ @pageTitle }}">
    <meta property="og:description" content="{{ @pageDesc }}">
    <meta property="og:url" content="{{ @REALM }}">
    <meta property="og:image" content="{{ @ogImage }}">
    <meta property="fb:app_id" content="621770607884214">

    <!-- Styles and Scripts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{ @assets->render('head') }}
  </head>
<check if="{{ @COOKIE.lightsoff == 'true' }}"><true>
  <body class="lightsoff"></true><false>
  <body></false>
</check>
    <!-- Nav menu -->
    <nav class="navbar navbar-inverse pmd-navbar navbar-fixed-top pmd-z-depth" style="position:absolute;">
      <div class="container-fluid">
        <!-- Sidebar Toggle Button-->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a href="javascript:void(0);"
            class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary pull-left margin-r8 pmd-sidebar-toggle">
            <i class="material-icons">menu</i></a>
          <a class="navbar-brand" href="/">
            <img src="/assets/img/ctoon.svg">
<check if="{{ @SERVER.HTTP_HOST == @remote.tor_host }}">
            <!-- .onion -->
</check>
          </a>
        </div>

        <!-- Navbar Right icon -->
        <div class="pmd-navbar-right-icon pull-right">
<check if="{{ @episode }}"></check>
          <a title="Go to show page" href="/{{ @episode.showShortName }}"
            class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary">
            <i class="material-icons pmd-sm">list</i></a>
</check>
          <a title="Toggle lights"
            class="lights btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary">
            <i class="material-icons pmd-sm">lightbulb_outline</i></a>
        </div>
      </div>
    </nav>

    <!-- Sidebar -->
    <section id="pmd-main">
      <!-- Left sidebar -->
      <aside role="navigation"
        class="pmd-sidebar sidebar-custom sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-z-depth sidebar-hide-custom">
        <ul class="nav pmd-sidebar-nav">
<repeat group="{{ @showlist }}" value="{{ @show }}">
          <li>
            <a class="pmd-ripple-effect" href="/{{ @show.showShortName }}">
              <span class="media-body">
                {{ @show.showName }}
<check if="{{ @show.showRating }}">
                <small class="text-muted">({{ @show.showRating }})</small>
</check>
              </span>
            </a>
          </li>
</repeat>
        </ul>
      </aside>

      <div class="pmd-content" id="content">

<check if="{{ @COOKIE.survey1ok != 'true' }}">
        </script>
        <div class="alert alert-info alert-dismissible surveys" role="alert">
          <button aria-label="Close" class="close" type="button"><span aria-hidden="true">×</span></button>
          <strong>Help us build the future CTOON!</strong> We have two short surveys:
          one <a target="_blank" href="https://ctoon.party/surveys/visitor.html" class="alert-link">about you</a>
          and one <a target="_blank" href="https://ctoon.party/surveys/content.html" class="alert-link">about the content</a>.
        </div>
</check>
