<include href="header.htm" />
        <div id="main" role="main">
          <p>
            Welcome and thanks for visiting us! CTOON.party is a website offering streaming for some cartoons.<br>
            Watching new episodes (and/or getting the original English audio) is hard outside the US, and we're here to help.
          </p>

          <p>
            Since the content provided in this website is free, <b>please understand that this might be illegal for you</b>.<br>
            Consider supporting your show by buying the episodes, links are available on each show details page.
          </p>

          <p>
            As a form of respect for the shows and for the visitors (you!), we don't put ads nor do we add watermarks on our videos.<br>
            We encourage every other streaming website to do the same, this should be done as a non-lucrative project.
          </p>

          <p>
            You don't know what to watch and don't care what's playing? <a class="link" title="Livestream" href="/live">Try our random livestream!</a>
          </p>

<!--
          <div class="alert alert-warning" role="alert">
            <strong>Just an heads up!</strong>
            The admin will be away until July 7th. Expect uploads to be slower.
          </div>
-->

          <hr>

          <h3>Recently published</h3>

          <div id="recent-list" class="row">
<repeat group="{{ @latest }}" value="{{ @episode }}">
            <div class="col-sm-4">
              <div class="pmd-card pmd-card-default pmd-z-depth">
                <a href="/{{ @episode.showShortName }}/{{ @episode.epiNumberTotal }}">
                  <div class="pmd-card-title">
                    <h2 class="pmd-card-title-text">
                      {{ parseSE( @episode.epiSeason, @episode.epiNumber, 'short') }}: {{ @episode.epiName }}
                      <br/><small>{{ @episode.showName }}</small>
                    </h2>
                  </div>
                </a>
              </div>
            </div>
</repeat>
          </div><!-- #recent-list -->

          <hr>

          <h3>Shows available</h3>

          <div id="show-list" class="row">
<repeat group="{{ @showlist }}" value="{{ @show }}">
            <div class="col-sm-4 col-md-3">
              <div class="pmd-card pmd-card-default pmd-z-depth">
                <a href="/{{ @show.showShortName }}">
                  <div class="pmd-card-media">
                    <img class="img-responsive" src="/assets/img/shows/{{ @show.showShortName }}.jpg" alt="{{ @show.showName }}" />
                  </div>

                  <div class="pmd-card-title">
                    <h2 class="pmd-card-title-text">
                      {{ @show.showName }}
                      <br><small>{{ @show.stTitle }}</small>
<check if="{{ @show.showRating }}">
                      <small>({{ @show.showRating }})</small>
</check>
                    </h2>
                  </div>
                </a>
              </div>
            </div>
</repeat>
          </div><!-- #show-list -->

        </div><!-- #main -->

<include href="footer.htm" />
