<include href="header.htm" />
        <h2>Live</h2>

        <p>
            Some episodes randomly playing!
        </p>

        <div class="live">
            <iframe width="853" height="480" src="//ok.ru/videoembed/1137225309945?nochat=1&autoplay=1" frameborder="0" allow="autoplay" allowfullscreen></iframe>
        </div>

        <style>
            .live {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;
                margin: 0 auto;
                max-width: 853px;
            }
            .live iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 480px;
            }
        </style>
<include href="footer.htm" />
