<include href="header.htm" />
        <h2>Report an issue.</h2>

        <p>
          Hello and thanks for visiting this page!<br/>
          This page will ask you some questions so we can work on fixing your problem.
        </p>

        <div class="question">
          First, what kind of problem is it?
          <ul>
            <li class="p1">
              There's a problem with the order of some episodes
            </li>
            <li class="p2">
              There's a typo in a title/description
            </li>
            <li class="p3">
              Episode title/number doesn't match the video
            </li>
            <li class="p4">
              I can't play a video.
            </li>
          </ul>
        </div>

        <div class="problem1 problem2">
          Feel free to describe to us what show and which episodes doesn't look right.<br/>
          <small class="problem1">
            Note for Steven Universe: the end of S1 and start of S2 is based on the <u>airing order</u>.<br/>
          </small>
          <br/>
          <textarea class="description"></textarea>
        </div>

        <div class="problem3">
          Please paste the link(s), one per line, who are wrong.<br/>
          <textarea class="links"></textarea><br/>
          <br/>
          You can add a note here if you want:<br/>
          <textarea class="description"></textarea>
        </div>

        <div class="problem4">
          <b>Make sure to use this form on the device/browser you're having trouble with!</b><br/>
          Is it happening to only some or all the videos? (Please try to start an another show.)<br/>
          <button class="p4-1 sel">Some</button> - <button class="p4-2 sel">All</button>

          <div class="problem4-1">
            Please paste the link(s), one per line, to the episodes you had trouble with.<br/>
            <textarea class="links"></textarea><br/>
            <br/>
            You can add a note here if you want:<br/>
            <textarea class="description"></textarea>
          </div>

          <div class="problem4-2">
            Alright, you can add a note here if you want:<br/>
            <textarea class="description"></textarea>
          </div>
        </div>

        <p class="collect">
          <button class="send">Send report</button><br/>
        </p>

        <script>
          let res = {
            'problem': null,
            'description': null,
            'links': null,
/* <check if="{{ @forceMP4 }}"><true> */
            'forceMP4': true,
/* </true><false> */
            'forceMP4': false,
/* </false></check> */
            'ua': navigator.userAgent
          }

          let inputs = {
            'description': null,
            'links': null
          }

          // First step
          document.querySelector('.p1').addEventListener('click', p1)
          document.querySelector('.p2').addEventListener('click', p2)
          document.querySelector('.p3').addEventListener('click', p3)
          document.querySelector('.p4').addEventListener('click', p4)
          document.querySelector('.p4-1').addEventListener('click', p41)
          document.querySelector('.p4-2').addEventListener('click', p42)
          document.querySelector('.collect .send').addEventListener('click', sendReport)

          // Send report
          function sendReport () {
            document.querySelector('.collect .send').disabled = true
            document.querySelector('.collect .send').style.opacity = 0.4

            res['description'] = inputs['description'].value

            if (inputs['links']) {
              res['links'] = inputs['links'].value
            }

            setTimeout(function () {
              $.ajax({
                type: "POST",
                url: "https://{{ @SERVER.SERVER_NAME }}/sendreport",
                data: JSON.stringify(res),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                  alert('Your report was sent. Thank you!')
                  window.location = 'https://{{ @SERVER.SERVER_NAME }}'
                },
                failure: function (errMsg) {
                  alert('Something went wrong :( \n' + errMsg)
                }
              })
            }, 1000)
          }

          // Fade others
          function fade (r, e) {
            document.querySelectorAll(r + ':not(' + e + ')').forEach(function (e) {
              e.style.opacity = 0.4
            })

            document.querySelector(r + e).style.opacity = 1
          }

          // Bold selection
          function bold (r, e) {
            document.querySelector(r + e).style.fontWeight = 'normal'

            document.querySelectorAll(r + ':not(' + e + ')').forEach(function (e) {
              e.style.fontWeight = 'bold'
            })
          }

          // Hide other questions
          function showhide (ex) {
            for (let i = 1; i <= 4; i++) {
              if (i === ex) continue

              document.querySelectorAll('.problem' + i).forEach(function (e) {
                e.style.display = 'none'
              })
            }

            document.querySelectorAll('.problem' + ex).forEach(function (e) {
              e.style.display = 'block'
            })
          }

          function d (hide) {
            document.querySelector('.collect').style.display = hide ? 'none' : 'block'
          }

          // Problem 1: There's a problem with the order of some episodes
          function p1 () {
            fade('.question li', '.p1')
            showhide(1)
            d()

            res['problem'] = 'order'
            inputs['description'] = document.querySelector('.problem1 .description')
          }

          // Problem 2: There's a typo in a title/description
          function p2 () {
            fade('.question li', '.p2')
            showhide(2)
            d()

            res['problem'] = 'typo'
            inputs['description'] = document.querySelector('.problem2 .description')
          }

          // Problem 3: Episode title/number doesn't match the video
          function p3 () {
            fade('.question li', '.p3')
            showhide(3)
            d()

            res['problem'] = 'match'
            inputs['description'] = document.querySelector('.problem3 .description')
            inputs['links'] = document.querySelector('.problem3 .links')
          }

          // Problem 4: I can't play a video.
          function p4 () {
            document.querySelectorAll('.problem4 > div').forEach(function (e) {
              e.style.display = 'none'
            })

            fade('.question li', '.p4')
            bold('.problem4 button', '.sel')
            showhide(4)
            d(true)
          }

          function p41 () {
            document.querySelectorAll('.problem4-1').forEach(function (e) {
              e.style.display = 'block'
            })
            document.querySelectorAll('.problem4-2').forEach(function (e) {
              e.style.display = 'none'
            })

            bold('.problem4 button', '.p4-2')
            d()

            res['problem'] = 'play-some'
            inputs['description'] = document.querySelector('.problem4-1 .description')
            inputs['links'] = document.querySelector('.problem4-1 .links')
          }

          function p42 () {
            document.querySelectorAll('.problem4-1').forEach(function (e) {
              e.style.display = 'none'
            })
            document.querySelectorAll('.problem4-2').forEach(function (e) {
              e.style.display = 'block'
            })

            bold('.problem4 button', '.p4-1')
            d()

            res['problem'] = 'play-all'
            inputs['description'] = document.querySelector('.problem4-2 .description')
          }
        </script>

        <style>
          .question,
          .pmd-content > .problem1,
          .pmd-content > .problem2,
          .pmd-content > .problem3,
          .pmd-content > .problem4,
          .collect {
            border: 1px solid black;
            margin-bottom: 5px;
            padding: 15px;
          }

          .question li {
            cursor: pointer;
            text-decoration: underline;
          }

          textarea {
            min-height: 100px;
            width: 100%;
          }

          .problem1,
          .problem2,
          .problem3,
          .problem4,
          .problem4-1,
          .problem4-2,
          .collect {
            display: none;
          }

          /* lights off fixes */
          .lightsoff .question,
          .lightsoff .pmd-content > .problem1,
          .lightsoff .pmd-content > .problem2,
          .lightsoff .pmd-content > .problem3,
          .lightsoff .pmd-content > .problem4,
          .lightsoff .collect {
            border: 1px solid white;
          }

          .lightsoff textarea,
          .lightsoff button {
            color: black;
          }
        </style>

<include href="footer.htm" />
